<h1 class="text-center">{{ user.username }}</h1>
<p class="text-center">Edita aquí tu perfil</p>
<div class="my-5 text-center">
    {{#if imagen}}
        <img src="/img/perfiles/{{imagen}}" alt="" class="rounded-circle">
        {{else}}
        <img src="/img/perfiles/profile.png" alt="" class="rounded-circle" width="200px" height="200px">
    {{/if}}
</div>

<form action="/perfil?_csrf={{csrfToken}}" method="post" enctype="multipart/form-data">
    <input class="form-control form-control-sm" id="formFile" type="file" name="myFile">
    <button class="btn btn-dark my-3">Cambiar Imagen de Perfil</button>
</form>